* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 10px 20px;
    border: 1px solid black;
}

.width {
    width: 80%;
    margin: 0 auto;
}

.btn-cart {
    margin: 0 0 0 auto;
    display: block;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid black;
}


.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-item{
    width: 290px; 
    margin-top: 15px;
    border: 1px solid black;
    padding: 10px;
}

.product-img{
    display: block;
    margin: 0 auto;
    height: 250px;
}

.product-item-title{
    text-align: center;
    margin:10px auto;
}

.product-item-price{
    font-style: italic;
    margin-top: 20px;
}